name: publish-package
on:
    workflow_call:
        inputs:
            java_vendor:
                required: false
                description: 'Supported vendors: oracle (default), temurin and openjdk (via https://jdk.java.net/ download).'
                type: string
            java_version:
                required: false
                description: 'Java version'
                type: string
            deploy_package:
                required: false
                description: "Flag to deploy a package to GH Registry"
                type: boolean
                default: false
            static_analysis_checkstyle_fail_on_violations:
                required: true
                description: 'Flag to fail or not the pipeline on checkstyle violations'
                type: boolean
                default: false
            static_analysis_checkstyle_skip:
                required: false
                description: 'Flag to skip the checkstyle validation step altogether'
                type: boolean
                default: false

        secrets:
            PACKAGES_USER:
                required: true
                description: 'Packages user from workflow'
            PACKAGES_TOKEN_RW:
                required: true
                description: 'Packages token from workflow'
            GH_TOKEN:
                required: true
                description: 'The GitHub token from the calling workflow'

jobs:
    java-flow:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            security-events: write

        steps:
            -   name: Set up Java
                uses: bmc-anvil/.github/.github/actions/setup-java@main
                with:
                    java_version: ${{ inputs.java_version }}
                    java_vendor: ${{ inputs.java_vendor }}

            -   name: Set up Maven
                uses: bmc-anvil/.github/.github/actions/maven/setup-maven@main
                with:
                    packages_user: ${{ secrets.PACKAGES_USER }}
                    packages_token: ${{ secrets.PACKAGES_TOKEN_RW }}

            -   name: Cache Maven dependencies
                uses: bmc-anvil/.github/.github/actions/maven/cache@main

            -   name: Run Checkstyle
                uses: bmc-anvil/.github/.github/actions/maven/static_analysis/checkstyle@main
                with:
                    github-token: ${{ secrets.GITHUB_TOKEN }}
                    static_analysis_checkstyle_fail_on_violations: ${{ inputs.static_analysis_checkstyle_fail_on_violations }}
                    static_analysis_checkstyle_skip: ${{ inputs.static_analysis_checkstyle_skip }}

            -   name: Build and Test
                uses: bmc-anvil/.github/.github/actions/maven/build-verify@main
                continue-on-error: true

            -   name: Set up Version
                uses: bmc-anvil/.github/.github/actions/common/semver@main
            #                if: ${{ inputs.deploy_package == true}} let's see how this works...

            -   name: Set up Version in Build Tool
                uses: bmc-anvil/.github/.github/actions/maven/setup-version@main
            #                if: ${{ inputs.deploy_package == true}} let's see how this works...

            -   name: Deploy to Github Packages Registry
                uses: bmc-anvil/.github/.github/actions/maven/deploy-package@main
                if: ${{ inputs.deploy_package == true}}
                with:
                    github-token: ${{ secrets.PACKAGES_TOKEN_RW }}
                    deploy-package: ${{ inputs.deploy_package }}
